.app {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
    min-height: 380px;
    border: 1px solid grey;
    border-radius: 20px;;
    margin: 10px;
    padding: 0 50px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      width: 100%;
    }
  }
}

.showSecret, .showHash {
  margin-top: 10px;
  width: 100%;

  pre {
    padding: 5px;
    background: lightgrey;
    border-radius: 3px;
  }
}
