.field {
  display: flex;
  flex-direction: column;

  input, textarea {
    line-height: 24px;
    padding-left: 10px;
    border: 1px solid #6363ff;
    border-radius: 5px;
    flex: 1;
    display: flex;
    min-height: 28px !important;
  }

  margin-bottom: 13px;
}

.labelBar {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 3px;

  span {
    font-size: 11px;
    font-weight: 600;
  }

  span.error {
    color: red;
  }
}

select {
  line-height: 24px;
  height: 32px;
  border: 1px solid #6363ff;
  border-radius: 3px;
  width: 100%;
  padding-left: 10px;
}

button {
  width: 150px;
  height: 32px;

  border: 1px solid #6363ff;
  border-radius: 3px;
}
